body{
    padding: 0;
    margin: 0;
    background-color: #D1BEA8;
}

.wrapper{
    display: flex;
    width: 100dvw;
    min-height: 100dvh;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
}

.con{
 display: flex;
 flex-direction: column;
}

img{
    width: 300px;
    filter: drop-shadow(5px 5px 4px #000);
}

a{
    color: #fff;
    text-decoration: none;
    background-color: #808080;
    border-radius: 5px;
    padding: 2px 3px;
    transition: 0.3s all;
}
a:hover{
    background-color: #656565;
}